*{
  margin: 0%;
}
#navbar{
  text-align: center;
  padding: 45px;
  background-color: rgb(164, 149, 149);
}
#card{
   
   margin: 30px 20px 23px 30px;
   border-radius: 10px;
   background-color: rgb(221, 221, 235);
   height: 100px;
   width: 200px;
   
   padding: 30px 20px;
  
}
#layout{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}